@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playfair+Display:wght@400;500;600;700;800;900&family=Teko:wght@600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

main .container {
  font-family: "Playfair Display", serif;
}

main .container .list-group-item {
  font-family: "Quicksand", sans-serif;
}

main .container h3 {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
}

footer .love-message {
  font-family: "Oranienbaum", serif;
  font-size: 1.4rem;
}

header .container {
  padding: 0;
}

header .container .navbar {
  background-color: rgba(63, 63, 63, 0.212);
  color: white;
}

.nav-bar {
  height: 7vh;
  background-color: black;
}

.nav-bar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-bar-flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.nav-bar .nav-logo {
  font-size: 1.2rem;
  color: white;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar .nav-links {
  position: absolute;
  top: 8vh;
  left: 0;
  z-index: 99;
  font-size: 0.6rem;
}

.nav-bar .nav-links .row {
  margin: 0;
}

.nav-bar .nav-links .row .col-auto {
  padding: 0;
}

.nav-bar .nav-links a {
  position: relative;
  padding: 0;
  margin: 0;
  color: black;
}

.nav-bar .nav-links a::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: black;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.nav-bar .nav-links a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav-bar .nav-links .active-wrapper a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container {
  background: #eceae2;
}

.container .list-group-item {
  border: none;
  padding: 0.4rem 0.7rem;
  background: rgba(255, 253, 246, 0.1);
}

footer .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .container .socials .love-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 992px) {
  .nav-bar .nav-links a {
    font-size: 0.8rem;
  }
  main .container h3 {
    font-size: 4rem;
    position: relative;
  }
  main .container h3::before {
    content: "";
    height: 8px;
    width: 100%;
    background-color: #5d5d5d;
    position: absolute;
    left: 0;
    top: -8px;
  }
  main .container h3::after {
    content: "";
    height: 8px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -8px;
  }
}
/*# sourceMappingURL=menu-style.css.map */