@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playfair+Display:wght@400;500;600;700;800;900&family=Teko:wght@600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.jumbotron {
  font-family: "Teko", sans-serif;
}

main .event,
main .news {
  font-family: "Playfair Display", serif;
}

main .event,
main .news {
  font-family: "Teko", sans-serif;
}

main .event .event-head,
main .event .news-head,
main .news .event-head,
main .news .news-head {
  font-size: 1.8rem;
  line-height: 35px;
  font-family: "Playfair Display", serif;
}

main .event p,
main .news p {
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

footer .love-message {
  font-family: "Oranienbaum", serif;
  font-size: 1.4rem;
}

header .container {
  padding: 0;
}

header .container .navbar {
  background-color: rgba(63, 63, 63, 0.212);
  color: white;
}

.nav-bar {
  height: 7vh;
  background-color: black;
}

.nav-bar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-bar-flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.nav-bar .nav-logo {
  font-size: 1.2rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar .nav-links {
  position: absolute;
  top: 8vh;
  left: 0;
  z-index: 99;
  font-size: 0.6rem;
}

.nav-bar .nav-links .row {
  margin: 0;
}

.nav-bar .nav-links .row .col-auto {
  padding: 0;
}

.nav-bar .nav-links a {
  position: relative;
  padding: 0;
  margin: 0;
}

.nav-bar .nav-links a::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: white;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.nav-bar .nav-links a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav-bar .nav-links .active-wrapper a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.jumbotron {
  height: 92vh;
  width: 100%;
  background-image: url("../images/hong-anh-duong.jpg");
  background-size: cover no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jumbotron .fas {
  color: white;
}

.jumbotron .slogan {
  background-color: rgba(63, 63, 63, 0.212);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron .slogan h3 {
  font-size: 3.5rem;
  color: black;
  text-shadow: 2px 2px white;
}

.jumbotron .slogan h1 {
  font-size: 3.5em;
  text-shadow: 1px 1px 1px darkgrey;
  color: white;
  display: inline-block;
  text-shadow: 2px 2px black;
}

main .event-img-bg {
  color: white;
  background-image: url("../images/valentin-b-kremer.jpg");
  background-size: cover;
  position: relative;
  height: 40vh;
}

main .event-img-bg .event-banner {
  font-size: 3em;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .event-img-bg .event-banner:hover {
  background-color: rgba(250, 250, 250, 0.35);
}

main .news-img-bg {
  color: white;
  background-image: url("../images/adrien-olichon.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

main .news .news-banner {
  font-size: 3em;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news .news-banner:hover {
  background-color: rgba(250, 250, 250, 0.35);
}

footer .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .container .socials .love-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 992px) {
  .nav-bar .nav-links a {
    font-size: 0.8rem;
  }
  .jumbotron .slogan h1, .jumbotron .slogan h3 {
    font-size: 4.5rem;
  }
  main .container .event-img-bg {
    height: 50vh;
  }
  main .container .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main .container .news-img-bg {
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */